/* 로그인 모든 요소 중앙 정렬 */
.center {
    margin-top: 80px;
    text-align: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.img{
    height: 98px;
}

.name{
    font-family: Inter;
    display: inline;
    font-size: 80px;
}

.input{
    border: none;
    background-color: #D9D9D9;
    width: 653px;
    height: 100px;
    margin-bottom: 23px;
    font-size: 30px;
    border-radius: 10pt;
}

.loginBtn{
    background-color: black;
    font-size: 44px;
    color: white;
    width: 653px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 10pt;
}

.text{
    text-align: end;
    font-size: 22px;
   
}

.no_a_line{
    color: grey;
    text-decoration: none;
}

.inputs{
    margin:0 auto;
    width: 653px;
}